html,body,section, p, header,footer,div,article,aside{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
html{
	margin: 0px auto;
}
body{
	font-family: Helvetica, Arial, Times;
    position:static;
    background-color:#34383f;
    margin: 0;
	padding: 0;
}

header{
	top:22px;
	width: 100%;
	height: 80px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    background-color:#36454f;
    position:fixed;
    background:url("as.png");
    font-family: 'Graduate', cursive;
    color:#d38f06;
    text-shadow:2px 2px 2px #000;
    text-align:center;
}
nav{
	background-color:#a35003;
}

nav ul {
	padding:0px;
	margin:0px;
}
nav ul li {
	display: inline-block;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	padding-left: 200px;
}
nav ul li a{
	color: #eeeeee;
	text-decoration: none;
	margin: 0px auto;
}
nav ul li:after{
	padding: 8px;
	font-weight: 100;
	content: "|";
	color: black;
	text-shadow: 1px 0px white;
	font-weight: 100px;
}

nav ul li a:hover, nav ul li a:focus{
	text-decoration: underline;
}
footer{
	width: 100%;
	background-color: #36454f;
	color: #FFF;
	height:80px;
    position:absolute;
    bottom: 0px;
}