html,body,section, p, header,footer,div,article,aside{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
html{
	margin: 0px auto;
}
h1,h2,h3{
	margin-top:0px;
}
#main h2{
	padding:20px 20px;
	margin:0px;
}
#main p{
	padding:0px 20px;
}
#main li{
	list-style: none;
}
#main ol li {
	list-style: decimal;
}
#main ul{
	margin:0px 0px;
	padding:0px;
}
#main #contact_form{
	padding:20px;
}
body{
	font-family: Helvetica, Arial, Times;
    position:relative;
    background-color:#232221;
    margin: 0;
	padding: 0;
}

header{
	width: 100%;
	height: 40px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    background-color:#36454f;
    position:relative;
    background:url("Images/as.PNG");
    font-family: 'Graduate', cursive;
    color:#d38f06;
    text-shadow:2px 2px 2px #000;
    text-align:center;
}
nav{
	background-color:#0a0a09;
}

nav ul {
	padding:0px;
	margin:0px;
}
nav ul li {
	display: inline-block;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	padding-left: 150px;
}
nav ul li a{
	color: #eeeeee;
	text-decoration: none;
	margin: 0px auto;
}
nav ul li:after{
	padding: 8px;
	font-weight: 100;
	content: "|";
	color: black;
	text-shadow: 1px 0px white;
	font-weight: 100px;
}

nav ul li a:hover, nav ul li a:focus{
	text-decoration: underline;
}
footer ul li {
	display: inline-block;
	text-align: center;
	font-size: 10px;
	font-weight: 700;
	padding-left: 200px;
	margin-bottom: 0px;
}
footer ul{
	margin-bottom: 0px;
}
#main{
	margin:auto;
	height:830px;
	width:640px;
	background:#474744;
	-webkit-border-radius:20px 20px 20px 20px;
	-moz-border-radius:20px 20px 20px 20px;	
	border-radius:20px 20px 20px 20px;
	-webkit-box-shadow:2px 2px 15px #000;
	-moz-box-shadow:2px 2px 15px #000;
	box-shadow:2px 2px 15px #000;
}
#side{
	float:right;
	height:200px;
	width:160px;
	background:#727272;
	padding:10px;
	-webkit-border-radius:20px 0px 0px 20px;
	-moz-border-radius:20px 0px 0px 20px;	
	border-radius:20px 0px 0px 20px;
	-webkit-box-shadow:2px 2px 15px #000;
	-moz-box-shadow:2px 2px 15px #000;
	box-shadow:2px 2px 15px #000;
}
footer{
	width: 100%;
	color: #FFF;
	height:20px;
    position:relative;
    bottom: 0px;
}